{% for product in products %}
    <article class="card-fmr">
        <header class="card-img-fmr">
            <img src="https://picsum.photos/370/235">
        </header>
        <div class="card-body-fmr">
            <div class="card-number-fmr">
                <span class="card-number-1-fmr">{{ product.maxUser }}</span>
                <div class="white-line"></div>
                <span class="card-number-2-fmr">{{ product.maxProduction }}</span>
            </div>
            <div class="card-category-fmr"><a href="#">{{ product.returnClassName }}</a></div>
            <div class="card-title-fmr">{{ product.name }}</div>
            <div class="card-subtitle-fmr">{{ product.productionTime }}</div>
            <p class="card-description-fmr">{{ product.description }}</p>
        </div>
        {% if is_granted('ROLE_ADMIN') %}
        <footer class="card-footer-fmr btn-grid">
        {% else %}
        <footer class="card-footer-fmr text-center">
        {% endif %}
            <a href="#" class="see-css"><i class="fas fa-eye"></i></a>
            {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('admin.products.edit', {id: product.id}) }}" class="edit-css"><i class="fas fa-edit"></i></a>
            <form id="form-product-delete" method="post" action="{{ path('admin.products.delete', {id: product.id}) }}" style="display: inline-block;" onsubmit="return confirm('Voulez vous vraiment effectuer l action ?')">
                <input type="hidden" name="_method" value="DELETE">
                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ product.id) }}">
                <a href="#"  class="delete-css" onclick="document.getElementById('form-product-delete').submit()"><i class="fas fa-trash"></i></a>
            </form>
            {% endif %}
        </footer>
    </article>
{% endfor %}