{% extends 'base.html.twig' %}
{% block body %}
    <div class="grid-container">
        <h1 class="display-4 text-center mt-5">Machine</h1>
        <hr class="my-5">
        <div class="grid">
            {% for machine in machines %}
                <article class="card-fmr">
                    <header class="card-img-fmr">
                        <img src={{ machine.image }}>
                    </header>
                    <div class="card-body-fmr">
                        <div class="card-number-fmr">
                            <span class="card-number-1-fmr">{{ machine.id }}</span>
                            <div class="white-line"></div>
                            <span class="card-number-2-fmr">{{ machines|length }}</span>
                        </div>
                        <div class="card-category-fmr"><a href="#">Machine</a></div>
                        <div class="card-title-fmr">{{ machine.name }}</div>
                        <div class="card-subtitle-fmr">Description</div>
                        <p class="card-description-fmr">
                            {% if machine.isRentable %}
                                {{ "La machine est disponible à la location. \nTemps max de réservation : "|nl2br }} {{ machine.maxHoursPerUse }}
                            {% else %}
                                {{ "La machine n'est pas disponible à la location. \nTemps max de réservation : "|nl2br }} {{ machine.maxHoursPerUse }}
                            {% endif %}
                        </p>
                    </div>
                    <footer class="card-footer-fmr btn-grid">
                        <a href="{{ path("machine.rent") }}"><i class="fas fa-eye"></i></a>
                        <a href="#"><i class="fas fa-edit"></i></a>
                        <a href="#"><i class="fas fa-trash"></i></a>
                    </footer>
                </article>
            {% endfor %}
        </div>
    </div>
{% endblock %}

