{% extends 'base.html.twig' %}
{% block body %}
    <hr class="mt-5">
    <div class="grid-container">
        <h1 class="display-4 text-center mt-5">Machine</h1>
        <hr class="my-5">
        <div id="calendar-holder"></div>
        <div class="grid">
{% for machine in machines %}
<article class="card-fmr">
    <header class="card-img-fmr">
        <img src="{{ vich_uploader_asset(machine, 'imageFile') }}">
    </header>
    <div class="card-body-fmr">
        <div class="card-number-fmr">
            <span class="card-number-1-fmr">{{ machine.maxHoursPerUse }}</span>
            <div class="white-line"></div>
            <span class="card-number-2-fmr">H</span>
        </div>
        <div class="card-category-fmr"><a href="#">Machine</a></div>
        <div class="card-title-fmr">{{ machine.name }}</div>
        <div class="card-subtitle-fmr">Description</div>
        <p class="card-description-fmr">
            {% if machine.isRentable %}
                {{ "La machine est disponible à la location. \nTemps max de réservation : "|nl2br }} {{ machine.maxHoursPerUse }}
            {% else %}
                {{ "La machine n'est pas disponible à la location. \nTemps max de réservation : "|nl2br }} {{ machine.maxHoursPerUse }}
            {% endif %}
        </p>
    </div>
    {% if is_granted('ROLE_ADMIN') %}
    <footer class="card-footer-fmr btn-grid">
        {% else %}
        <footer class="card-footer-fmr text-center">
            {% endif %}
            {% if machine.isRentable %}
                <a href="{{ path('machines.show', {id: machine.id}) }}" class="see-css"><i class="fas fa-eye"></i></a>
            {% else %}
                    INDISPONIBLE
                <a href="{{ path('machines.show', {id: machine.id}) }}" class="see-css"><i class="fas fa-eye"></i></a>
            {% endif %}
            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('admin.machines.edit', {id: machine.id}) }}" class="edit-css"><i class="fas fa-edit"></i></a>
                <form id="form-product-delete" method="post" action="{{ path('admin.machines.delete', {id: machine.id}) }}" style="display: inline-block;" onsubmit="return confirm('Voulez vous vraiment effectuer l action ?')">
                    <input type="hidden" name="_method" value="DELETE">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ machine.id) }}">
                    <a href="#"  class="delete-css" onclick="document.getElementById('form-machine-delete').submit()"><i class="fas fa-trash"></i></a>
                </form>
            {% endif %}
        </footer>
</article>
{% endfor %}
{% endblock %}