{% extends 'base.html.twig' %}
{% block body %}
    <hr class="mt-5">
    <div class="card-container">
        {% for message in app.flashes('success') %}

            <div class="alert alert-success">
                {{ message }}
            </div>
            <hr class="my-5">
        {% endfor %}
        <article class="card-show">
            <div class="page-back">
                <a href="{{ path('machine.index') }}"><i class="fas fa-chevron-left"></i></a>
            </div>
            <div class="card-img-show">
                <img src="{{ vich_uploader_asset(booking.machine, 'imageFile') }}">
            </div>
            <div class="card-body-show">
                <div class="card-category-show"><a href="#">{{ booking.title }}</a></div>
                <h1 class="card-title-show">{{ booking.machine.name }}</h1>
                <div class="coral-line"></div>
                <div class="card-subtitle-show">{{ booking.machine.maxHoursPerUse }} heures / Utilisateur </div>
                <p class="card-description-show">{{ booking.machine.skill }}</p>
            </div>
            <div class="card-footer-show text-center">
                <h2 class="card-title-show">Réserver</h2>
                <div class="coral-line"></div>
                <p class="card-order-text">Vous avez déjà reservé <span class="card-order-number"> 0 </span> unités sur <span class="card-order-number">{{ booking.machine.maxHoursPerUse }}</span></p>
                <p class="card-order-text">Au total la machine a été réservé <span class="card-order-number"> 1 </span> fois </p>
                <p class="card-order-text">Vous pouvez donc réserver la machine dans <span class="card-order-number"> 20 </span> heures</p> {#ici mettre le temps restant avant la fin de la prochaine réservation#}
                    {#<div class="card-order-form">
                        {{ form_start(form) }}
                        {{ form_row(form.quantity) }}
                        <button class="card-order-btn" style="width: 100%"><i class="fas fa-cart-arrow-down"></i></button>
                        {{ form_end(form) }}
                    </div>#}
            </div>
        </article>


    </div>




{% endblock %}